@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: white;
}

.PostCard {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
